body {
	background: #08598c url('http://cdn.spout.org/img/misc/blue_bar.png') repeat-x;
	color: #eee;
	font-family: Arial;
	font-size: 14px;
}
h1 {
	background: url('http://cdn.spout.org/img/logo/spout_195x90.png') no-repeat;
	padding-top: 120px;
}
hr {
	border: 0px;
	border-bottom: 1px solid #fff;
}
a {
	color: #eee;
}